<ion-header [translucent]="true" class="ion-text-center">
  <ion-toolbar>
    <ion-title>
      <ion-label>
        Today is {{ today | date  }}
      </ion-label>
    </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-menu side="start" menuId="first" contentId="main-content" maxEdgeStart="200">
  <ion-header>
    <ion-toolbar color="danger">
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item button (click)="this.router.navigate(['home'])">
        <ion-icon name="list-circle-outline" class="ion-margin-end"></ion-icon>
        <ion-text>Tasks</ion-text>
      </ion-item>

      <ion-item button (click)="this.router.navigate(['manage-categories'])">
        <ion-icon name="pricetags-outline" class="ion-margin-end"></ion-icon>
        <ion-text>Manage Categories</ion-text>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-content id="main-content" [fullscreen]="true">
  <ion-list>
    <ion-item-sliding *ngFor="let task of toDoList; let i = index">
      <ion-item>
        <ion-card style="width: 100%; height: 90%;">
          <ion-card-header>
            <ion-card-subtitle>
              {{ task.category }}
            </ion-card-subtitle>
            <ion-item>
              <ion-icon *ngIf="task.priority === 'low'" name="ellipse" color="success" class="ion-margin-end"></ion-icon>
              <ion-icon *ngIf="task.priority === 'middle'" name="ellipse" color="warning" class="ion-margin-end"></ion-icon>
              <ion-icon *ngIf="task.priority === 'high'" name="ellipse" color="danger" class="ion-margin-end"></ion-icon>
              <ion-label>{{ task.name }}</ion-label>
            </ion-item>
          </ion-card-header>
          <ion-card-content>
            <ion-label>
              <b>Deadline:</b>
              {{ task.deadline | date: 'EEEE, d MMMM, y H:mm' }}
            </ion-label>
          </ion-card-content>
        </ion-card>
      </ion-item>

      <ion-item-options side="start">
        <ion-item-option color="warning" (click)="updateTask(i, task)">
          <ion-icon slot="icon-only" name="create-outline"></ion-icon>
        </ion-item-option>
      </ion-item-options>

      <ion-item-options side="end">
        <ion-item-option color="danger" (click)="deleteTask(i)">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="danger" (click)="addTask()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>